body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


.top-left-page {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: auto;
}

header {
    text-align: center;
    padding: 30px 20px;
}

nav {
    background-color: #206833;
    text-align: center;
    padding: 15px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

section {
    margin-bottom: 50px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 25px;
    color: #ffffff;
    border: 1px solid #115126;
    background-color: #206833;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 25px;
}